<div class="login container">
  <div class="main">
    <div class="wrap_login">
      <h2>Login</h2>
      <div class="login_form">
        <form [formGroup]="loginForm" action="" (ngSubmit)="onSubmit()">
          <div class="form_item">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email..."
            />
            <p
              *ngIf="
                loginForm.get('email')?.invalid && loginForm.get('email')?.dirty
              "
              class="warning"
            >
              <i class="bi bi-exclamation-octagon"></i>
              {{ errorEmail }}
            </p>
          </div>
          <div class="form_item">
            <label for="password">Password</label>
            <div class="wrap_pass">
              <input
                #pass
                formControlName="password"
                [type]="display ? 'text' : 'password'"
                id="password"
                name="password"
                placeholder="Enter your password..."
              />
              <i (click)="handleDisplayPassword()" [ngClass]="display ? 'bi bi-eye-fill eye' : 'bi bi-eye-slash-fill eye'" class="eye"></i>
            </div>
            <p
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.dirty
              "
              class="warning"
            >
              <i class="bi bi-exclamation-octagon"></i>
              {{ errorPassword }}
            </p>
          </div>
          <div class="more_option">
            <div class="remember">
              <input type="checkbox" id="remember" />
              <label for="remember">Remember me</label>
            </div>
            <p><a routerLink="/auth/forgot-password">Forgot Password</a></p>
          </div>
          <button type="submit">LOGIN</button>
          <p class="create">
            <a routerLink="/auth/register">Create an account</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
