.create_workplace {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  form {
    .form_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      position: relative;
      label {
        font-size: 18px;
        font-weight: bold;
        display: inline-flex;
        margin-bottom: 10px;
        align-items: center;
        span {
          margin-right: 10px;
        }
      }
      p {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(100% + 10px);
        font-style: italic;
        right: 0;
        color: red;
        i {
          margin-right: 5px;
        }
      }
    }
    .action {
      text-align: center;
    }
  }
}



::ng-deep .p-dropdown {
  display: flex !important;
}
