<div class="create_workplace">
  <form action="" [formGroup]="workplaceForm" (ngSubmit)="onSubmit()">
    <div class="form_item">
      <label for="code">
        <span>{{ "workplace.code" | translate }}</span>
        <span style="color: red">*</span>
      </label>
      <input pInputText formControlName="code" type="text" name="" id="code" />
      <p
        *ngIf="getControl('code')?.dirty && getControl('code')?.errors"
        class="warning"
      >
        <i class="bi bi-cone-striped"></i>
        {{ "workplace.code" | translate }}
        {{ warning.code?.type | typeError | translate : warning.code }}
      </p>
    </div>

    <div class="form_item">
      <label for="name">
        <span>{{ "workplace.locationName" | translate }}</span>
        <span style="color: red">*</span>
      </label>
      <input pInputText formControlName="name" type="text" name="" id="name" />
      <p
        *ngIf="getControl('name')?.dirty && getControl('name')?.errors"
        class="warning"
      >
        <i class="bi bi-cone-striped"></i>
        {{ "workplace.locationName" | translate }}
        {{ warning.name?.type | typeError | translate : warning.name }}
      </p>
    </div>

    <div class="form_item">
      <label for="otherName">
        <span>{{ "workplace.anotherName" | translate }}</span>
        <span style="color: red">*</span>
      </label>
      <input
        formControlName="otherName"
        pInputText
        type="text"
        name=""
        id="otherName"
      />
      <p
        *ngIf="
          getControl('otherName')?.dirty && getControl('otherName')?.errors
        "
        class="warning"
      >
        <i class="bi bi-cone-striped"></i>
        {{ "workplace.anotherName" | translate }}
        {{
          warning.otherName?.type | typeError | translate : warning.otherName
        }}
      </p>
    </div>

    <div class="form_item">
      <label for="type">
        <span>{{ "workplace.positionType" | translate }}</span>
        <span style="color: red">*</span>
      </label>
      <input formControlName="type" pInputText type="text" name="" id="type" />
      <p
        *ngIf="getControl('type')?.dirty && getControl('type')?.errors"
        class="warning"
      >
        <i class="bi bi-cone-striped"></i>
        {{ "workplace.positionType" | translate }}
        {{ warning.type?.type | typeError | translate : warning.type }}
      </p>
    </div>
    <div class="form_item">
      <label for="unit">
        <span>{{ "workplace.belongingToTheUnit" | translate }}</span>
        <span style="color: red">*</span>
      </label>
      <div formGroupName="unitSelect">
        <p-treeSelect
          class="md:w-20rem w-full"
          containerStyleClass="w-full"
          formControlName="unit"
          [options]="unitList"
          placeholder="Select"
        ></p-treeSelect>
      </div>
      <p
        *ngIf="
          getControl('unitSelect')?.get('unit')?.dirty &&
          getControl('unitSelect')?.get('unit')?.errors
        "
        class="warning"
      >
        <i class="bi bi-cone-striped"></i>
        {{ "workplace.belongingToTheUnit" | translate }}
        {{ warning.unit?.type | typeError | translate : warning.unit }}
      </p>
    </div>
    <div class="action">
      <button
        [disabled]="disable"
        #buttonSave
        style="margin-top: 10px;"
        pButton
        type="submit"
        class="p-button-sm button"
      >
        <span class="button__text">{{ "common.save" | translate }}</span>
      </button>
    </div>
  </form>
</div>
