<div class="employee">
  <h2 class="title">QUẢN LÝ NHÂN VIÊN</h2>
  <div class="form_search">
    <form action="">
      <div class="form_list">
        <div class="form_item">
          <label for="name">Tên</label>
          <input
            placeholder="Enter response here"
            type="text"
            id="name"
            pInputText
          />
        </div>
        <div class="form_item">
          <label for="email">Email</label>
          <input
            placeholder="Enter response here"
            type="text"
            id="email"
            pInputText
          />
        </div>
        <div class="form_item">
          <label for="status">Trạng thái</label>
          <p-dropdown
            id="status"
            [options]="status"
            optionLabel="value"
          ></p-dropdown>
        </div>
        <div class="form_item">
          <label for="code">Mã nhân viên</label>
          <input
            placeholder="Enter response here"
            type="text"
            id="code"
            pInputText
          />
        </div>
        <div class="form_item">
          <label for="sex">Giới tính</label>
          <p-dropdown id="sex" [options]="sex" optionLabel="value"></p-dropdown>
        </div>
        <div class="form_item">
          <label for="unit">Đơn vị công tác</label>
          <p-dropdown id="sex" [options]="sex" optionLabel="value"></p-dropdown>
        </div>
        <div class="form_item">
          <label for="position">Vị trí công tác</label>
          <p-dropdown id="sex" [options]="sex" optionLabel="value"></p-dropdown>
        </div>
      </div>

      <div class="action">
        <button type="button" pButton class="p-button-outlined p-button-danger p-button-sm" label="Xoá"></button>
        <button type="button" pButton class="p-button-primary p-button-sm" label="Tìm kiếm"></button>
      </div>
    </form>
  </div>
</div>
