  <nav #sidebar class="sidebar close">
    <div class="sidebar_header">
      <div class="logo">
        <img src="../../../../assets/images/icone-angulaire-vert.png" alt="">
      </div>
      <span>HRM - LOGO</span>
    </div>
    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a routerLink="/team-member" routerLinkActive="active">
              <i class='bi bi-person icon'></i>
              <span class="text nav-text">{{'sidebar.teamMember' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/employee/work-unit" routerLinkActive="active">
              <i class='bi bi-folder2-open icon'></i>
              <span class="text nav-text">{{'sidebar.workUnit' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/employee/workplace" routerLinkActive="active">
              <i class='bi bi-pin-map icon'></i>
              <span class="text nav-text">{{'sidebar.workPlace' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/employee/management" routerLinkActive="active">
              <i class='bi bi-briefcase icon'></i>
              <span class="text nav-text">{{'sidebar.employeeList' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/employee/upload" routerLinkActive="active">
              <i class='bi bi-upload icon'></i>
              <span class="text nav-text">{{'sidebar.uploadEmployee' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/estate/provider" routerLinkActive="active">
              <i class='bi bi-houses icon'></i>
              <span class="text nav-text">{{'sidebar.provider' | translate}}</span>
            </a>
          </li>

          <li class="nav-link">
            <a routerLink="/estate/device" routerLinkActive="active">
              <i class='bi bi-coin icon'></i>
              <span class="text nav-text">{{'sidebar.estate' | translate}}</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a (click)="handleLogout($event)" href="#">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">{{'sidebar.logout' | translate}}</span>
          </a>
        </li>

        <!-- <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>
          <div class="toggle-switch">
            <span class="switch">
              <span class="circle"></span>
            </span>
          </div>
        </li> -->

      </div>
    </div>
  </nav>
  <section class="home">
    <app-header (displaySidebar)="displaySidebar()"></app-header>
    <ng-content></ng-content>
  </section>
