<div #layer class="layer"></div>
<nav #sidebar class="sidebar">
  <div class="sidebar_header">
    <div class="logo">
      <img src="../../../../assets/images/logo1.png" alt="" />
    </div>
    <span>HRM - LOGO</span>
  </div>
  <div class="sidebar_avt">
    <app-avt></app-avt>
  </div>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a routerLink="/team-member" #link routerLinkActive="active">
            <i class="bi bi-person icon"></i>
            <span class="text nav-text">{{
              "sidebar.teamMember" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/employee/work-unit" #link routerLinkActive="active">
            <i class="bi bi-folder2-open icon"></i>
            <span class="text nav-text">{{
              "sidebar.workUnit" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/employee/workplace" #link routerLinkActive="active">
            <i class="bi bi-pin-map icon"></i>
            <span class="text nav-text">{{
              "sidebar.workPlace" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/employee/management" #link routerLinkActive="active">
            <i class="bi bi-briefcase icon"></i>
            <span class="text nav-text">{{
              "sidebar.employeeList" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/employee/upload" #link routerLinkActive="active">
            <i class="bi bi-upload icon"></i>
            <span class="text nav-text">{{
              "sidebar.uploadEmployee" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/estate/provider" #link routerLinkActive="active">
            <i class="bi bi-houses icon"></i>
            <span class="text nav-text">{{
              "sidebar.provider" | translate
            }}</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/estate/device" #link routerLinkActive="active">
            <i class="bi bi-coin icon"></i>
            <span class="text nav-text">{{
              "sidebar.estate" | translate
            }}</span>
          </a>
        </li>

        <li class="language">
          <a (click)="handleChoseLanguage()" #link>
            <i class="bi bi-translate icon"></i>
            <span class="text nav-text">{{
              "sidebar.language" | translate
            }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a (click)="handleLogout($event)" href="#">
          <i class="bx bx-log-out icon"></i>
          <span class="text nav-text">{{ "sidebar.logout" | translate }}</span>
        </a>
      </li>

      <!-- <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>
          <div class="toggle-switch">
            <span class="switch">
              <span class="circle"></span>
            </span>
          </div>
        </li> -->
    </div>
  </div>
  <div (click)="hidenSidebar()" class="close_icon">
    <i class="bi bi-x"></i>
  </div>
</nav>

<section class="home">
  <app-header (displaySidebar)="displaySidebar()"></app-header>
  <ng-content></ng-content>
</section>

<p-dialog [modal]="true" [(visible)]="visible">
  <ng-template pTemplate="header">
    <h3 class="title">
      {{ "sidebar.language" | translate }}
    </h3>
  </ng-template>
  <ng-template pTemplate="body">
    <div class="flex py-2 justify-content-center">
      <p-dropdown
        [(ngModel)]="lang"
        (onChange)="onChange($event)"
        appendTo="body"
        [options]="languages"
        placeholder="Select a City"
        optionLabel="name"
      ></p-dropdown>
    </div>
  </ng-template>
</p-dialog>
