<section class="app">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/team-member" routerLinkActive="active">
            <div>
              <i class="bi bi-person-fill"></i> <span>Team members</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/employee" routerLinkActive="active"
            ><i class="bi bi-people-fill"></i> <span class="">Nhân viên</span>
            <div class="arrow_right">
              <i class="bi bi-chevron-right"></i>
            </div>
          </a>
          <ul class="nav-flyout">
            <li>
              <a routerLink="/employee/work-unit" routerLinkActive="active"><i class="bi bi-shop-window"></i> Đơn vị công tác</a>
            </li>
            <li>
              <a routerLink="/employee/workplace" routerLinkActive="active"><i class="bi bi-card-text"></i> Vị trí công tác</a>
            </li>
            <li>
              <a routerLink="/employee/management" routerLinkActive="active"><i class="bi bi-handbag-fill"></i> DS Nhân viên</a>
            </li>
            <li>
              <a routerLink="/employee/upload" routerLinkActive="active"><i class="bi bi-cloud-arrow-up-fill"></i> Upload</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/home/notification"
            ><i class="bi bi-bell-fill"></i> <span class="">Thông báo</span></a
          >
        </li>
        <li>
          <a routerLink="/estate" routerLinkActive="active"
            ><i class="bi bi-coin"></i> <span class="">Tài sản</span>
            <div class="arrow_right">
              <i class="bi bi-chevron-right"></i>
            </div>
          </a>
          <ul class="nav-flyout">
            <li>
              <a routerLink="/estate/provider" routerLinkActive="active"><i class="bi bi-building-fill"></i> Nhà cung cấp</a>
            </li>
            <li>
              <a routerLink="/estate/device" routerLinkActive="active"
                ><i class="bi bi-book-fill"></i> Sách - Thiết Bị Test</a
              >
            </li>
            <li>
              <a href="#" routerLinkActive="active"><i class="bi bi-receipt-cutoff"></i> Tài sản</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"
            ><i class="bi bi-briefcase-fill"></i><span class="">Mượn trả</span>
            <div class="arrow_right">
              <i class="bi bi-chevron-right"></i>
            </div>
          </a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="bi bi-book-half"></i> Sách</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-music-player"></i> Thiết bị</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-camera-reels-fill"></i> Tài sản</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</section>
