header {
  background-color: var(--primary-color-main);
  margin: 0 -30px 30px;
  display: flex;
  padding: 0 10px 0 30px;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--height-header);
  color: #fff;
  .follow {
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        border-radius: 50%;
        padding: 5px 7px;
        cursor: pointer;
        background-color: #fff;
        color: var(--primary-color-main);
        border: 2px solid var(--primary-color-main);
        &:hover {
          transition: all 0.3s ease-out;
          box-shadow: 0px 0px 8px 1px #ccc;
        }
      }
    }

    .breadcrumb {
      margin-left: 20px;
      ::ng-deep .p-breadcrumb {
        border: none;
        background-color: var(--primary-color-main);
        ul {
          li {
            a {
              color: #fff;
              span {
                color: #fff;
              }
            }
            &::before {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      padding: 0 20px;
      li {
        margin: 0 20px;
        display: flex;
        align-items: center;
        background-color: #fff;
        color: var(--primary-color-main);
        border: 2px solid var(--primary-color-main);
        padding: 5px 7px;
        border-radius: 50%;

        &:first-child {
          font-size: 12px;
          font-weight: 700;
          border-radius: 50%;
          background-color: #fff;
          color: var(--primary-color-main);
          border: 2px solid var(--primary-color-main);
          position: relative;
          img {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            object-fit: cover;
          }
          i {
            font-weight: bold;
            margin-top: 2px;
            font-size: 12px;
          }
          .popup_language {
            display: none;
            position: absolute;
            z-index: 10;
            grid-template-columns: repeat(2, 1fr);
            background-color: #38475e;
            color: #fff;
            top: calc(100% + 10px);
            border-radius: 3px;
            left: 50%;
            transform: translateX(-50%);
            span {
              align-items: center;
              display: flex;
              padding: 15px 30px;
              border-radius: 2px;
              img {
                width: 20px;
                height: 15px;
                border-radius: 0;
                object-fit: cover;
                margin-right: 10px;
              }
              &:hover {
                background-color: #5d718e;
                color: #fff;
              }
            }
          }
        }
        &:hover {
          transition: all 0.3s ease-out;
          box-shadow: 0px 0px 8px 1px #ccc;
          cursor: pointer;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  .personal {
    cursor: pointer;

    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color-main);
    color: #fff;
    // border: 2px solid #fff;

    img {
      border: 2px solid #000;
      margin-right: 20px;
      width: 35px;
      height: 35px;
      display: block;
      border-radius: 100%;
    }
    span {
      font-size: 14px;
    }

    i {
      margin-left: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 11px;
      &:hover {
        transition: all 0.3s ease-out;
        box-shadow: 0px 0px 6px 2px #ccc;
      }
    }
  }
}

::ng-deep
  .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  filter: brightness(0.9);
  background-color: var(--primary-color-main);
}

::ng-deep
  .p-inputswitch.p-inputswitch-checked:not(.p-disabled)
  .p-inputswitch-slider {
  background-color: var(--primary-color-main);
}

::ng-deep.p-inputswitch {
  display: block !important;
}
