<header>
  <div class="follow">
    <span class="menu" (click)="display()">
      <i class="bi bi-list"></i>
    </span>
    <div class="breadcrumb">
      <div class="card flex justify-content-center">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      </div>
    </div>
  </div>
  <div class="nav">
    <ul>
      <li (click)="displayPopupLanguage()">
        <img #country [src]="'../../../../assets/images/' + flag" alt="" />
        <div #popupLanguage class="popup_language">
          <span
            *ngFor="let language of languages"
            (click)="handleChoseLanguage(language)"
          >
            <img [src]="'../../../../assets/images/' + language.image" alt="" />
            <p>{{ language.name | uppercase }}</p>
          </span>
        </div>
      </li>
    </ul>
    <div class="personal">
      <span class="email">{{ account?.email }}</span>
      <div class="avt">
        <img
          [src]="
            account?.image_url ||
            '../../../../assets/images/avatar-icon-png.jpg'
          "
          alt=""
        />
      </div>
    </div>
  </div>
</header>
