<header>
  <div class="follow">
    <span class="menu">
      <i (click)="display()" class="bi bi-list"></i>
    </span>
    <div class="breadcrumb">
      <div class="card flex justify-content-center">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      </div>
    </div>
  </div>
  <div class="nav">
    <ul>
      <li (click)="displayPopupLanguage()">
        <img #country [src]="'../../../../assets/images/' + flag" alt="" />
        <div #popupLanguage class="popup_language">
          <span
            *ngFor="let language of languages"
            (click)="handleChoseLanguage(language)"
          >
            <img [src]="'../../../../assets/images/' + language.image" alt="" />
            <p>{{ language.name | uppercase }}</p>
          </span>
        </div>
      </li>
      <li><i class="bi bi-bell"></i></li>
    </ul>
    <div class="personal">
      <div>
        <img
          src="https://i.pinimg.com/736x/8b/d6/68/8bd668fbf81efb332088eb6a5b6c60c5.jpg"
          alt=""
        />
      </div>
      <span>tungnv1@runsystem.net</span>
      <i class="bi bi-chevron-down"></i>
    </div>
  </div>
</header>
