header {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    height: var(--height-header);
    .logo {
        font-family: 'Climate Crisis', cursive;
        font-size: 24px;
        line-height: 55px;
        margin: 0;
    }
    .personal {
        color: white;
        margin-right: 20px;
        display: flex;
        align-items: center;
        img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
        i, span {
            margin-left: 10px;
            font-size: 13px;
        }

        i {
            font-size: 11px;
        }

    }
}