.team_item {
  &:hover {
    .info {
      min-height: 100%;
      justify-content: center;
    }
    .action {
      opacity: 1;
    }
  }
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  .avt {
    flex: 1;
    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
      display: block;
    }
    i {
      font-size: 120px;
      color: var(--primary-color-main);
    }
  }
  .info {
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    min-height: 150px;
    transition: all 0.5s ease;
    left: 0;
    width: 100%;
    padding: 10px 20px 10px;
    flex: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.65);
    flex-direction: column;
    // justify-content: space-between;
    color: #fff;
  }
  .name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }
  .action {
    transition: all 0.5s ease;
    position: absolute;
    // display: none;
    // visibility: hidden;
    opacity: 0;
    top: 10px;
    right: 10px;
    text-align: end;
  }
  .code,
  .birthday {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
