.team {
  width: 90%;
  margin: 0 auto;
  .search {
    box-shadow: 0 0 8px 2px #ccc;
    margin-top: 30px;
    background-color: white;
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 50px;
    .search_left {
      flex: 1;
      display: flex;
      align-items: center;
      input {
        border-radius: 50px;
        padding: 16px 16px;
        flex: 1;
        border: none;
        font-size: 16px;
        border-bottom: 2px solid transparent;
        &::placeholder {
          font-size: 16px;
          margin-top: 2px;
          padding-top: 2px;
          top: 2px;
        }
        &:focus {
          border-bottom: 2px solid var(--primary-color-main);
        }
      }
    }
    span {
      right: 16px;
      position: absolute;
      display: inline-block;
      padding: 10px 12px;
      border-radius: 50%;
      background-color: var(--primary-color-main);
      color: #fff;
    }
  }
  .team_list {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 10px;
  }
}
