.team {
  width: 90%;
  margin: 0 auto;
  .search {
    box-shadow: 0 0 8px 2px #ccc;
    background-color: white;
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;
    border-radius: 50px;
    width: 100%;
    margin: 30px auto 0;
    max-width: 50%;
    .search_left {
      flex: 1;
      display: flex;
      align-items: center;
      input {
        border-radius: 50px;
        padding: 13px 16px;
        flex: 1;
        border: none;
        font-size: 1.6rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        &::placeholder {
          font-size: 1.6rem;
          margin-top: 2px;
          padding-top: 2px;
          top: 2px;
          font-style: italic;
          font-family: "Poppins", sans-serif;
        }
        &:focus {
          border-bottom: 2px solid var(--primary-color-main);
          border-top: 2px solid var(--primary-color-main);
        }
      }
    }
    span {
      width: 35px;
      height: 35px;
      right: 7px;
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-color-main);
      color: #fff;
    }
  }
  .wrap_team_list {
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  .team_list {
    display: grid;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 1200px) {
  .team .team_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .team {
    width: 100%;
    .team_list {
      grid-template-columns: repeat(1, 1fr);
    }
    .search {
      max-width: 100%;
    }
  }
}

@media (max-width: 340) {
  .team {
    .team_list {
      grid-template-columns: repeat(1, 1fr);
    }
    .search {
      max-width: 100%;
    }
  }
}

