<div class="working_process_wrap">
  <div class="working_process_label">
    <span>{{ "createEmployee.addProcess" | translate }}</span>
  </div>
  <div formArrayName="workingProcess" class="working_process_list">
    <div
      *ngFor="let process of workingProcessList; index as item"
      class="working_process_item"
    >
      <button
        (click)="handleDeleteProcess(item)"
        type="button"
        pButton
        icon="bi bi-trash"
        class="p-button-danger p-button-sm p-button-raised p-button-rounded remove"
      ></button>
      <div [formGroupName]="item" class="working_process">
        <h3 class="title">{{ "title.workingProcess" | translate }}</h3>
        <div>
          <div class="form_item">
            <label for="unit">
              <span>{{ "sidebar.workUnit" | translate }}</span>
              <span style="color: red">*</span>
            </label>
            <p-treeSelect
              class="md:w-20rem w-full"
              containerStyleClass="w-full"
              formControlName="unit"
              [options]="unitList"
              (onNodeSelect)="onSelectedChange($event, item)"
              [placeholder]="'common.select' | translate"
            ></p-treeSelect>
            <p
              *ngIf="
                getControl('unit', item)?.dirty &&
                getControl('unit', item)?.errors
              "
              class="warning"
            >
              <i class="bi bi-cone-striped"></i>
              {{ "employeeManagement.unit" | translate }}
              {{ warning.unit?.type | typeError | translate : warning.unit }}
            </p>
          </div>
          <div class="form_item">
            <label for="position">
              <span>{{ "sidebar.workPlace" | translate }}</span>
              <span style="color: red">*</span>
            </label>

            <p-dropdown
              [options]="positionList[item]"
              formControlName="position"
              [placeholder]="'common.select' | translate"
              optionLabel="job_position_name"
            ></p-dropdown>
            <p
              *ngIf="
                getControl('unit', item)?.dirty &&
                getControl('unit', item)?.errors
              "
              class="warning"
            >
              <i class="bi bi-cone-striped"></i>
              {{ "sidebar.workPlace" | translate }}
              {{
                warning.position?.type
                  | typeError
                  | translate : warning.position
              }}
            </p>
          </div>
          <div class="form_item">
            <label for="time">
              <span>{{ "createEmployee.time" | translate }}</span>
              <span style="color: red">*</span>
            </label>
            <p-calendar
              selectionMode="range"
              formControlName="workingTime"
              [showButtonBar]="true"
              dateFormat="dd.mm.yy"
            ></p-calendar>
            <p
              *ngIf="
                getControl('unit', item)?.dirty &&
                getControl('unit', item)?.errors
              "
              class="warning"
            >
              <i class="bi bi-cone-striped"></i>
              {{ "createEmployee.time" | translate }}
              {{
                warning.workingTime?.type
                  | typeError
                  | translate : warning.workingTime
              }}
            </p>
          </div>
          <div class="form_item">
            <label for="">
              <span>{{ "createEmployee.workingForm" | translate }}</span>
              <span style="color: red">*</span>
            </label>
            <p-dropdown
              formControlName="workingForm"
              [placeholder]="'common.select' | translate"
              [options]="workingForm"
              optionLabel="label"
            ></p-dropdown>
            <p
              *ngIf="
                getControl('unit', item)?.dirty &&
                getControl('unit', item)?.errors
              "
              class="warning"
            >
              <i class="bi bi-cone-striped"></i>
              {{ "createEmployee.workingForm" | translate }}
              {{
                warning.workingForm?.type
                  | typeError
                  | translate : warning.workingForm
              }}
            </p>
          </div>
        </div>
      </div>
      <div class="page">{{ item + 1 }}</div>
    </div>
  </div>
  <div style="text-align: end;">
    <button
    class="plus_btn"
    (click)="handleAddProcess()"
    type="button"
    pButton
    icon="bi bi-plus-lg"
    class="p-button-sm p-button-rounded p-button-raised"
  ></button>
  </div>
</div>
