<div formGroupName="employeeInfo">
  <h3 class="title">{{ "title.currentUser" | translate }}</h3>
  <div class="form_item">
    <label for="email">
      <span>Email</span>
    </label>
    <p-dropdown
      [placeholder]="'common.select' | translate"
      formControlName="email"
      [options]="employeeList"
      optionLabel="email"
    ></p-dropdown>
    <p
      *ngIf="getControl('email')?.dirty && getControl('email')?.errors"
      class="warning"
    >
      <i class="bi bi-cone-striped"></i>
      Email
      {{ warning.email?.type | typeError | translate }}
    </p>
  </div>
  <div class="form_item">
    <label for="name">
      <span>{{ "createDevice.date" | translate }}</span>
    </label>
    <p-calendar
      formControlName="useDate"
      [showButtonBar]="true"
      dateFormat="dd/mm/yy"
    ></p-calendar>
  </div>
</div>
