.detail_employee {
  .header {
    position: relative;
    h2.title {
      margin-bottom: 30px;
    }
    span {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      user-select: none;
      left: 0;
      cursor: pointer;
      padding: 4px 10px 5px;
      background-color: var(--primary-color-main);
      border-radius: 5px;
      color: #fff;
      i {
        font-size: 22px;
      }
      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .detail_info {
    background-color: #fff;
    box-shadow: 0 0 8px 2px #ccc;
    padding: 20px;
    border-radius: 5px;
    .export {
      justify-content: flex-end;
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  .edit {
    margin-top: 20px;
    text-align: center;
  }

  ::ng-deep .p-datatable-table {
    border-top: 1px solid #dee2e6;
  }

  ::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
    font-weight: normal;
    background-color: #fff;
  }

  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-weight: normal;
  }

  ::ng-deep .p-datatable > .p-datatable-wrapper {
    border-bottom: 1px solid #dee2e6;
  }
}

.avt_template {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .avt_empty {
    padding: 5px;
    width: 100%;
    height: 100%;
    div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: #fff;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

@media (max-width: 550px) {
  .sub_table {
    td:first-child {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .detail_employee .detail_info {
    overflow: hidden;
    padding: 5px;
  }
  ::ng-deep .p-datatable .p-datatable-tbody > tr > td,
  ::ng-deep .p-datatable .p-datatable-tfoot > tr > td {
    padding: 5px !important;
  }
  .export {
    padding: 5px !important;
    margin-bottom: 0 !important;
  }
}