<div class="detail_employee">
  <div class="header">
    <h2 class="title">{{"title.detailEmployee" | translate}}</h2>
    <span (click)="handleBack()"><i class="bi bi-arrow-left-short"></i></span>
  </div>
  <div class="detail_info">
    <div class="export">
      <button
        pButton
        label="Xuất Excel"
        class="p-button-warning p-button-sm"
        icon="bi bi-download"
      ></button>
    </div>

    <div class="detail_table">
      <p-table
        [value]="infoEmployee"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="body" let-info>
          <tr>
            <td style="text-align: start; font-weight: 500">{{ info.name }}</td>
            <td style="width: 80%; text-align: start">
              <ng-container
                *ngTemplateOutlet="
                  info.key === 'image_url' ? avt : normal;
                  context: { info: info.value }
                "
              ></ng-container>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td style="text-align: start; font-weight: 500">
              {{ "title.workingProcess" | translate }}
            </td>
            <td style="width: 80%; text-align: start">
              <div *ngIf="workingProcess.length > 0">
                <p-table
                  [value]="workingProcess"
                  styleClass="p-datatable-gridlines"
                  [tableStyle]="{ 'min-width': '50rem' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{ "employeeManagement.unit" | translate }}</th>
                      <th>{{ "employeeManagement.position" | translate }}</th>
                      <th>{{ "createEmployee.time" | translate }}</th>
                      <th>{{ "createEmployee.workingForm" | translate }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-process>
                    <tr>
                      <td>
                        {{ process.wk_organization.organization_unit_name }}
                      </td>
                      <td>{{ process.wk_job_position.job_position_name }}</td>
                      <td>
                        {{ commonService.reverseStringDateToVi(process.from) }}
                        -
                        {{ commonService.reverseStringDateToVi(process.to) }}
                      </td>
                      <td>{{ process.working_type }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: start; font-weight: 500">
              {{ "title.socialNetwork" | translate }}
            </td>
            <td style="width: 80%; text-align: start">
              <div *ngIf="socialNetwork.length > 0">
                <p-table
                  [value]="socialNetwork"
                  styleClass="p-datatable-gridlines"
                  [tableStyle]="{ 'min-width': '50rem' }"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{ "createEmployee.typeSocial" | translate }}</th>
                      <th>{{ "createEmployee.link" | translate }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-network>
                    <tr>
                      <td>{{ network.name }}</td>
                      <td>{{ network.value }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="edit">
    <button
      pButton
      label="Chỉnh sửa"
      class="p-button-outlined p-button-sm"
    ></button>
  </div>
</div>

<ng-template #avt let-info="info">
  <div class="avt_template">
    <img *ngIf="info" [src]="info" alt="" />
    <div *ngIf="!info" class="avt_empty">
      <div>{{ "common.noImage" | translate }}</div>
    </div>
  </div>
</ng-template>

<ng-template #normal let-info="info">
  {{ info }}
</ng-template>
