<div class="provider">
  <h2 class="title">{{ "title.provider" | translate }}</h2>
  <div class="table">
    <p-table
      responsiveLayout="stack"
      [breakpoint]="'960px'"
      selectionMode="single"
      [value]="providerList"
    >
      <ng-template pTemplate="caption">
        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
            class="flex align-items-center justify-content-between"
          >
            <div>{{ total }} {{ "common.record" | translate }}</div>
            <div>
              <button
                pButton
                icon="pi pi-download"
                class="p-button-sm p-button-warning p-button-raised"
              ></button>
              <button
                style="margin-left: 10px"
                (click)="handleDisplayCreateProvider()"
                pButton
                icon="pi pi-plus"
                iconpos="left"
                [label]="'common.addNew' | translate"
                class="p-button-sm p-button-warning p-button-raised"
              ></button>
            </div>
          </div>
          <div class="search_m">
            <input
              (input)="handleGetProvider()"
              type="text"
              pInputText
              [formControl]="searchInput"
              placeholder="Search ..."
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "provider.supplierName" | translate }}</th>
          <th>{{ "provider.items" | translate }}</th>
          <th>{{ "common.address" | translate }}</th>
          <th>{{ "provider.contact" | translate }}</th>
          <th style="text-align: end">
            <input
              (input)="handleGetProvider()"
              type="text"
              pInputText
              [formControl]="searchInput"
              placeholder="Search ..."
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-provider>
        <tr *ngIf="!loadDisplay" [pSelectableRow]="provider">
          <td>
            <span class="p-column-title">{{
              "provider.supplierName" | translate
            }}</span
            >{{ provider.name }}
          </td>
          <td>
            <span class="p-column-title">{{
              "provider.items" | translate
            }}</span
            >{{ provider.items }}
          </td>
          <td>
            <span class="p-column-title">{{
              "common.address" | translate
            }}</span
            >{{ provider.address }}
          </td>
          <td>
            <span class="p-column-title">{{
              "provider.contact" | translate
            }}</span
            >{{ provider.contact }}
          </td>
          <td>
            <span class="p-column-title">{{
              "common.action" | translate
            }}</span>
            <div class="action" style="text-align: end">
              <button
                (click)="handleUpdateProvider(provider)"
                pButton
                icon="bi bi-pencil-square"
                class="p-button-sm p-button-raised"
              ></button>
              <button
                (click)="handleDeleteProvider(provider)"
                pButton
                icon="bi bi-trash"
                class="p-button-sm p-button-danger p-button-raised"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <app-load-small *ngIf="loadDisplay"></app-load-small>
      </ng-template>
    </p-table>
    <div class="no_data" *ngIf="!loadDisplay && total === 0">
      {{ "common.noData" | translate }}
    </div>
    <p-paginator
      *ngIf="total > 0"
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="limit"
      [totalRecords]="total"
      [showFirstLastIcon]="false"
    ></p-paginator>
  </div>
</div>

<p-dialog
  [style]="{ width: '50vw' }"
  [modal]="true"
  [(visible)]="displayCreate"
>
  <ng-template pTemplate="header">
    <h3 class="title">
      {{ (typeAction === "Add" ? "title.create" : "title.edit") | translate }}
    </h3>
  </ng-template>

  <ng-template pTemplate="body">
    <app-create-provider
      [typeAction]="typeAction"
      [infoUpdate]="infoUpdate"
      (showMessage)="showMessage($event)"
    ></app-create-provider>
  </ng-template>
</p-dialog>
