.provider {
  h2 {
    margin-bottom: 30px;
  }
}

.table {
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #ccc;
  ::ng-deep .p-datatable {
    border-radius: 5px;
    .p-datatable-header {
      border-radius: 5px 5px 0 0;
    }
  }
}

.action {
  button {
    margin: 0 5px;
  }
}
