h2 {
  margin-bottom: 30px;
}

.form_search {
  background-color: white;

  form {
    .form_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      .form_item {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 10px;
        }
        input {
          background-color: #eaf0f4;
        }
      }
      ::ng-deep .p-dropdown {
        width: 100%;
        background-color: #eaf0f4;
      }
    }
    .action {
      margin-top: 10px;
      text-align: end;
      button {
        margin-left: 10px;
      }
    }
  }
}

::ng-deep .p-accordion-header-link {
  flex-direction: row-reverse;
  justify-content: space-between;
}

::ng-deep .p-datatable-table {
  .p-datatable-tbody {
    tr {
      td {
        text-align: center;
        div {
          button {
            margin: 0 5px;
          }
        }
      }
    }
  }
  .p-datatable-thead {
    tr {
      th {
        text-align: center;
        background-color: white;
      }
    }
  }
}

.more_option {
  text-align: end;
  margin: 30px 0;
  button {
    margin-left: 10px;
  }
}
