<div class="employee">
  <h2 class="title">{{ "title.employeeManager" | translate }}</h2>
  <div class="accordion">
    <p-accordion>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div style="color: #fff">
            <i style="margin-right: 10px" class="bi bi-search"></i>
            <span>{{ "common.search" | translate }}</span>
          </div>
        </ng-template>
        <div class="form_search">
          <form
            [formGroup]="searchForm"
            (ngSubmit)="handleSearchEmployee()"
            action=""
          >
            <div class="form_list">
              <div class="form_item">
                <label for="name">{{
                  "employeeManagement.codeNameEmail" | translate
                }}</label>
                <input
                  formControlName="codeNameEmail"
                  type="text"
                  id="name"
                  pInputText
                />
                <p
                  *ngIf="
                    getControl('codeNameEmail')?.dirty &&
                    getControl('codeNameEmail')?.errors
                  "
                  class="warning"
                >
                  <i class="bi bi-cone-striped"></i>
                  {{ "employeeManagement.codeNameEmail" | translate }}
                  {{
                    warning.codeNameEmail?.type
                      | typeError
                      | translate : warning.codeNameEmail
                  }}
                </p>
              </div>
              <div class="form_item">
                <label for="sex">{{
                  "employeeManagement.sex" | translate
                }}</label>
                <p-dropdown
                  id="sex"
                  formControlName="sex"
                  [options]="sex"
                  [placeholder]="'common.select' | translate"
                  optionLabel="value"
                ></p-dropdown>
              </div>
              <div class="form_item">
                <label for="unit">{{
                  "employeeManagement.unit" | translate
                }}</label>
                <p-treeSelect
                  class="md:w-20rem w-full"
                  containerStyleClass="w-full"
                  formControlName="unit"
                  [options]="unitList"
                  (onNodeSelect)="onSelectedChange($event)"
                  [placeholder]="'common.select' | translate"
                ></p-treeSelect>
              </div>
              <div class="form_item">
                <label for="position">{{
                  "employeeManagement.position" | translate
                }}</label>
                <p-dropdown
                  [options]="positionList"
                  formControlName="position"
                  [placeholder]="'common.select' | translate"
                  optionLabel="job_position_name"
                ></p-dropdown>
              </div>
            </div>

            <div class="action">
              <button
                (click)="handleResetSearchForm()"
                type="button"
                pButton
                class="p-button-danger p-button-sm"
                [label]="'common.delete' | translate"
              ></button>
              <button
                type="submit"
                pButton
                class="p-button-primary p-button-sm"
                [label]="'common.search' | translate"
              ></button>
            </div>
          </form>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>

  <div class="employee_table">
    <p-table
      selectionMode="single"
      responsiveLayout="stack"
      [breakpoint]="'1024px'"
      [value]="employeeList"
      [tableStyle]="{ 'min-width': '200px' }"
    >
      <ng-template pTemplate="caption">
        <div class="caption_table">
          <div style="text-align: center">
            {{ total }} {{ "common.record" | translate }}
          </div>
          <div style="display: flex; gap: 10px">
            <button
              pButton
              icon="pi pi-download"
              class="p-button-sm p-button-warning p-button-raised"
            ></button>
            <button
              (click)="handleDisplayCreateEmployee()"
              pButton
              icon="pi pi-plus"
              iconpos="left"
              [label]="'common.addNew' | translate"
              class="p-button-sm p-button-warning p-button-raised"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "employeeManagement.employeeCode" | translate }}</th>
          <th>{{ "employeeManagement.fullName" | translate }}</th>
          <th>Email</th>
          <th>{{ "employeeManagement.sex" | translate }}</th>
          <th>{{ "employeeManagement.unit" | translate }}</th>
          <th>{{ "employeeManagement.position" | translate }}</th>
          <th>{{ "common.status" | translate }}</th>
          <th>{{ "common.action" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr *ngIf="!loadDisplay" [pSelectableRow]="employee">
          <td>
            <span class="p-column-title">{{
              "employeeManagement.employeeCode" | translate
            }}</span>
            <span>{{ employee.employee_code }}</span>
          </td>
          <td>
            <span class="p-column-title">{{
              "employeeManagement.fullName" | translate
            }}</span
            ><span style="text-align: end">{{ employee.full_name }}</span>
          </td>
          <td><span class="p-column-title">email</span>{{ employee.email }}</td>
          <td>
            <span class="p-column-title">{{
              "employeeManagement.sex" | translate
            }}</span
            ><span style="text-align: end">{{ employee.gender }}</span>
          </td>
          <td>
            <span class="p-column-title">{{
              "employeeManagement.unit" | translate
            }}</span
            ><span style="text-align: end">{{
              employee.organization?.organization_unit_name
            }}</span>
          </td>
          <td>
            <span class="p-column-title">{{
              "employeeManagement.position" | translate
            }}</span>
            <span>{{ employee.job_position?.job_position_name }}</span>
          </td>
          <td>
            <span class="p-column-title">{{ "common.status" | translate }}</span
            ><span style="text-align: end">{{
              employee.employee_status?.employee_status_name
            }}</span>
          </td>
          <td>
            <span class="p-column-title">{{
              "common.action" | translate
            }}</span>
            <div>
              <p-splitButton
                styleClass="p-button-sm mr-2 mb-2"
                [model]="actions"
                (onDropdownClick)="handleActionsClick(employee)"
              ></p-splitButton>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <app-load-small *ngIf="loadDisplay"></app-load-small>
      </ng-template>
    </p-table>
    <div class="no_data" *ngIf="!loadDisplay && total === 0">
      {{ "common.noData" | translate }}
    </div>
    <p-paginator
      *ngIf="total > 0"
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="limit"
      [totalRecords]="total"
      [showFirstLastIcon]="false"
    ></p-paginator>
  </div>
</div>
