.wrap_repair {
  margin: 20px 0;
}
.title {
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.form_repair {
  position: relative;
  padding: 20px;
  box-shadow: 0 0 8px 2px #ccc;
  border-radius: 5px;
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
}