::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-calendar {
  width: 100%;
  max-width: unset;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
}

.header {
  position: relative;
  h2.title {
    margin-bottom: 30px;
  }
  span {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    user-select: none;
    left: 0;
    cursor: pointer;
    padding: 3px 11px 3px 8px;
    i {
      font-size: 22px;
      margin-top: 2px;
    }
    &:hover {
      background-color: #e0e2e2;
      border-radius: 5px;
    }
  }
}

.create_workplace {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #ccc;
  display: flex;
  justify-content: space-between;
  .create_left {
    width: 49%;
    .working_process {
      flex: 1;
      box-shadow: 0 0 8px 2px #ccc;
      border-radius: 5px;
      padding: 20px;
    }
    .asset_relate {
      .nodata {
        font-size: 20px;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid #dee2e6;
      }
    }

    .contact {
      box-shadow: 0 0 8px 2px #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
      .contact_form {
      }
    }
  }
  .create_right {
    width: 49%;
    .contact_information {
      margin-bottom: 30px;
      box-shadow: 0 0 8px 2px #ccc;
      border-radius: 5px;
      padding: 20px;
    }
  }
}

form {
  .form_item {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        margin-right: 10px;
      }
      button {
        pointer-events: none;
      }
    }
    .avt {
      width: 200px;
      height: 200px;
      border: 2px dashed black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .option_account {
      span {
        margin-right: 20px;
      }
    }
  }
}

.plus {
  text-align: end;
  margin: 30px 0;
}

h3.title {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
  text-align: center;
}

.create_new {
  margin-top: 20px;
  text-align: center;
}
