<div class="header">
  <span (click)="handleBack()"
    ><i class="bi bi-arrow-left-short"></i></span
  >
  <h2 class="title">{{'title.createEmployee' | translate}}</h2>
</div>
<p-toast></p-toast>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="create_employee">
    <div class="create_left">
      <app-basic-information
        (showAlert)="showAlert($event)"
        [employeeForm]="employeeForm"
      ></app-basic-information>
      <div class="asset_relate">
        <h3 class="title">{{'title.relatedProperty' | translate}}</h3>
        <p-table selectionMode="single" [value]="assetList">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;">{{'code' | translate}}</th>
              <th style="text-align: center;">{{'name' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-asset>
            <tr [pSelectableRow]="asset">
              <td style="text-align: center;">{{ asset.code }}</td>
              <td style="text-align: center;">{{ asset.name }}</td>
            </tr>
          </ng-template>
        </p-table>
        <p class="nodata" *ngIf="assetList.length === 0">{{'createEmployee.noData' | translate}}</p>
      </div>
    </div>

    <div class="create_right">
      <app-contact-information
        [employeeForm]="employeeForm"
      ></app-contact-information>
      <app-other-information
        [employeeForm]="employeeForm"
        (showAlert)="showAlert($event)"
      ></app-other-information>
      <app-working-process></app-working-process>
    </div>
  </div>
  <div class="create_new">
    <button
      type="submit"
      pButton
      class="p-button-outlined p-button-success"
      [label]="'title.create' | translate"
    ></button>
  </div>
</form>
