.confirm_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: red;
  z-index: 100;
}

::ng-deep .p-tieredmenu.p-tieredmenu-overlay {
  top: calc(100% + 10px) !important;
  right: 0 !important;
  left: unset !important;
}

::ng-deep .p-datatable-wrapper {
  overflow: unset !important;
}

::ng-deep.p-splitbutton .p-splitbutton-defaultbutton,
.p-splitbutton.p-button-rounded > .p-splitbutton-defaultbutton.p-button,
.p-splitbutton.p-button-outlined > .p-splitbutton-defaultbutton.p-button {
  display: none;
}

::ng-deep.p-splitbutton.p-button-sm > .p-button {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

::ng-deep.p-tieredmenu {
  width: unset;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link,
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background: var(--primary-color-main);
  color: #fff;
}

::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover
  .p-accordion-header-link,
::ng-deep
  .p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight:hover
  .p-accordion-header-link {
  background: var(--primary-color-main);
  filter: brightness(1.2);
  color: #fff;
}

::ng-deep .p-datatable .p-datatable-header {
  background: var(--primary-color-main);
  color: #fff;
}

::ng-deep .p-treetable-thead tr th {
  background-color: var(--primary-color-main) !important;
  color: #fff !important;
}

::ng-deep .p-treetable-scrollable-header-box {
  padding-right: 0 !important;
}

::ng-deep .p-button-sm {
  font-size: 0.775rem;
  padding: 0.55625rem 0.9375rem;
}

::ng-deep .p-treeselect {
  width: 100%;
}

::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content {
  background-color: #e5f1f3;
  color: var(--primary-color-main);
}

::ng-deep
  .p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
  background-color: var(--primary-color-main);
  color: #fff;
}

::ng-deep
  .p-tree
  .p-tree-container
  .p-treenode
  .p-treenode-content.p-highlight {
  background-color: #374454;
  color: #fff;
}

::ng-deep .p-treetable .p-treetable-scrollable-header,
.p-treetable .p-treetable-scrollable-footer {
  background-color: #fff;
  position: relative;
}

::ng-deep .p-treeselect-items-wrapper {
  box-shadow: 0 0 8px 2px #a69e9e;
  border-radius: 10px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th,
::ng-deep .p-treetable .p-treetable-thead > tr > th {
  font-size: 16px;
}

::ng-deep .p-button {
  background-color: var(--primary-color-main);
}

::ng-deep .p-fileupload-choose:not(.p-disabled):hover,
::ng-deep .p-button:enabled:hover {
  background: var(--primary-color-main);
  filter: brightness(0.8);
}

::ng-deep .p-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .p-splitbutton.p-button-outlined > .p-button,
::ng-deep .p-splitbutton.p-button-outlined > .p-button:enabled:hover,
.p-splitbutton.p-button-outlined
  > .p-button:not(button):not(a):not(.p-disabled):hover {
  color: var(--primary-color-main);
}

::ng-deep .p-paginator {
  padding: 0;
}

::ng-deep .p-datatable-table {
  background-color: #fff;
}

::ng-deep .p-confirm-dialog {
  .p-dialog-header {
    span {
      font-size: 22px !important;
    }
    color: #ef4444 !important;
  }
  button {
    border: none;
  }
  .p-confirm-dialog-reject {
    background-color: #fff;
    border: 1px solid var(--primary-color-main);
    color: var(--primary-color-main);
    &:hover {
      background-color: #fff;
      border: 1px solid var(--primary-color-main);
      color: var(--primary-color-main);
      filter: brightness(0.9);
    }
  }
}

::ng-deep .p-datatable-tbody > tr > td > .p-column-title {
  font-weight: bold;
}

::ng-deep .p-inputtext {
  width: 100%;
}

::ng-deep .p-component {
  font-family: "Poppins", sans-serif;
}

::ng-deep .p-paginator {
  padding: 10px 0;
  .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--primary-color-main);
    color: #fff;
  }
}

@media (max-width: 300px) {
  ::ng-deep #pr_id_5-table > .p-datatable-tbody > tr > td {
    flex-direction: column;
  }
  ::ng-deep #pr_id_5-table > .p-datatable-tbody > tr > td > span {
    text-align: center !important;
  }
}
