<div class="header">
  <span (click)="handleBack()"><i class="bi bi-arrow-left-short"></i></span>
  <h2 class="title">{{ "title.createDevice" | translate }}</h2>
</div>
<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()" action="">
  <div class="create_device">
    <div class="main_form">
      <div class="wrap_main_form">
        <app-basic-information [deviceInfo]="deviceInfo" [deviceForm]="deviceForm"/>
      </div>
    </div>
    <div class="sub_form">
      <div class="upgrade_info">
      <app-repair-information [deviceInfo]="deviceInfo" [deviceForm]="deviceForm"/>
      </div>
      <div class="current_employee">
      <app-employee-information/>
      </div>
    </div>
  </div>
  <div class="create_new">
    <button
      pButton
      type="submit"
      class="p-button.p-button-raised"
      [label]="'title.create' | translate"
    ></button>
  </div>
</form>
