::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-calendar {
  width: 100%;
  max-width: unset;
}

.header {
  position: relative;
  h2.title {
    margin-bottom: 30px;
  }
  span {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    user-select: none;
    background-color: var(--primary-color-main);
    color: #fff;
    left: 0;
    cursor: pointer;
    padding: 3px 11px 3px 8px;
    border-radius: 5px;
    i {
      font-size: 22px;
      margin-top: 2px;
    }
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.create_device {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #ccc;
  display: flex;
  margin: 0 -10px;
  flex-direction: column;
  .main_form {
    flex: 1;
  }
  .sub_form {
    margin: 20px 0 0;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    .upgrade_info,
    .current_employee {
      flex: 1;
      margin: 0 10px;
      padding: 20px 20px 40px;
      box-shadow: 0 0 8px 2px #ccc;
      border-radius: 5px;
      .title {
        margin-bottom: 30px;
      }
    }
    .current_employee {
      align-self: flex-start;
    }
  }
}

form {
  :host .form_item {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        margin-right: 10px;
      }
      button {
        pointer-events: none;
      }
    }
    p {
      display: flex;
      align-items: center;
      position: absolute;
      top: calc(100% + 10px);
      font-style: italic;
      font-size: 12px;
      right: 0;
      color: red;
      i {
        margin-right: 5px;
      }
    }
    .avt {
      width: 200px;
      height: 200px;
      border: 2px dashed black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 15%;
        height: 15%;
        object-fit: cover;
        &.image {
          height: 100%;
          width: 100%;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.plus {
  text-align: end;
  margin: 30px 0;
}

h3.title {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30px;
  text-align: center;
}

.create_new {
  margin-top: 20px;
  text-align: center;
}
