<div class="device">
  <h2 class="title">QUẢN LÝ THIẾT BỊ</h2>
  <p-accordion>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div style="color: var(--primary-color)">
          <i style="margin-right: 10px" class="bi bi-search"></i>
          <span>Tìm kiếm</span>
        </div>
      </ng-template>
      <div class="form_search">
        <form action="">
          <div class="form_list">
            <div class="form_item">
              <label for="code">Mã tài sản</label>
              <input
                placeholder="Enter response here"
                type="text"
                id="code"
                pInputText
              />
            </div>
            <div class="form_item">
              <label for="name">NV dang sử dụng</label>
              <p-dropdown
                id="name"
                [options]="status"
                optionLabel="value"
                placeholder="Chọn"
              ></p-dropdown>
            </div>
            <div class="form_item">
              <label for="type">Loại</label>
              <p-dropdown
                id="type"
                [options]="status"
                optionLabel="value"
                placeholder="Chọn"
              ></p-dropdown>
            </div>
            <div class="form_item">
              <label for="nameDevice">Tên</label>
              <input
                placeholder="Enter response here"
                type="text"
                id="nameDevice"
                pInputText
              />
            </div>
            <div class="form_item">
              <label for="number">Số hoá đơn</label>
              <input
                placeholder="Enter response here"
                type="text"
                id="number"
                pInputText
              />
            </div>
            <div class="form_item">
              <label for="state">Trạng thái mượn</label>
              <p-dropdown
                placeholder="Chọn"
                id="sex"
                [options]="sex"
                optionLabel="value"
              ></p-dropdown>
            </div>
            <div class="form_item">
              <label for="position">Trạng thái tài sản</label>
              <p-dropdown
                id="sex"
                placeholder="Chọn"
                [options]="sex"
                optionLabel="value"
              ></p-dropdown>
            </div>
          </div>

          <div class="action">
            <button
              type="button"
              pButton
              class="p-button-outlined p-button-danger p-button-sm"
              label="Xoá"
            ></button>
            <button
              type="button"
              pButton
              class="p-button-primary p-button-sm"
              label="Tìm kiếm"
            ></button>
          </div>
        </form>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div class="more_option">
    <button
      pButton
      icon="pi pi-download"
      class="p-button-outlined p-button-sm p-button-danger"
    ></button>
    <button pButton icon="pi pi-qrcode" class="p-button-outlined p-button-sm"></button>
    <button
      (click)="handleDisplayCreateDevice()"
      pButton
      icon="pi pi-plus"
      iconpos="left"
      label="Thêm mới"
      class="p-button-sm p-button-success"
    ></button>
  </div>
  <p-table
    selectionMode="single"
    [value]="deviceList"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <tr>
        <th>450 bản ghi</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Mã tài sản</th>
        <th>Loại</th>
        <th>Tên tài sản</th>
        <th>Nhà cung cấp</th>
        <th>Họ tên</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
      <tr [pSelectableRow]="device">
        <td>{{ device.codeDevice }}</td>
        <td>{{ device.type }}</td>
        <td>{{ device.nameDevice }}</td>
        <td>{{ device.provider }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.state }}</td>
        <td>
          <div>
            <button
              pButton
              icon="bi bi-pen"
              class="p-button-rounded p-button-sm p-button-primary"
            ></button>
            <button
              pButton
              icon="bi bi-file-text"
              class="p-button-rounded p-button-sm p-button-success"
            ></button>
            <button
              pButton
              icon="bi bi-trash"
              class="p-button-rounded p-button-sm p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
