.device {
  .title {
    margin-bottom: 30px;
  }
}

form {
  .form_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 40px;
    .form_item {
      display: flex;
      flex-direction: column;
      position: relative;
      label {
        margin-bottom: 10px;
      }
      input {
        background-color: #eaf0f4;
      }
      p {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(100% + 10px);
        font-style: italic;
        font-size: 12px;
        right: 0;
        color: red;
        i {
          margin-right: 5px;
        }
      }
    }
    ::ng-deep .p-dropdown {
      width: 100%;
      background-color: #eaf0f4;
    }
  }
  .action {
    margin-top: 10px;
    text-align: end;
    button {
      margin-left: 10px;
    }
  }
}

.table {
  box-shadow: 0 0 8px 2px #ccc;
  border-radius: 6px;
  ::ng-deep .p-datatable .p-datatable-header {
    border-radius: 6px 6px 0 0;
  }
}

::ng-deep .p-accordion-header-link {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.search_form {
  margin-bottom: 30px;
}

::ng-deep .p-datatable-table {
  .p-datatable-tbody {
    tr {
      td {
        div {
          button {
            margin: 0 5px;
          }
        }
      }
    }
  }
  .p-datatable-thead {
    tr {
      th {
        background-color: white;
      }
    }
  }
}

@media (max-width: 1200px) {
  form {
    .form_list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
