<div class="member_table">
  <p-table responsiveLayout="stack" [breakpoint]="'768px'" [value]="memberList">
    <ng-template pTemplate="header">
      <tr style="text-align: center">
        <th>{{ "employeeManagement.employeeCode" | translate }}</th>
        <th>{{ "employeeManagement.fullName" | translate }}</th>
        <th>{{ "employeeManagement.sex" | translate }}</th>
        <th>{{ "employeeManagement.position" | translate }}</th>
        <th>{{ "employeeManagement.unit" | translate }}</th>
        <th>{{ "common.action" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
      <tr>
        <td>
          <span class="p-column-title">{{
            "employeeManagement.employeeCode" | translate
          }}</span
          ><span style="text-align: end">{{ member?.employee_code }}</span>
        </td>
        <td>
          <span class="p-column-title">{{
            "employeeManagement.fullName" | translate
          }}</span
          ><span style="text-align: end">{{ member?.full_name }}</span>
        </td>
        <td>
          <span class="p-column-title">{{
            "employeeManagement.sex" | translate
          }}</span
          ><span style="text-align: end">{{ member?.gender }}</span>
        </td>
        <td>
          <span class="p-column-title">{{
            "employeeManagement.position" | translate
          }}</span
          ><span style="text-align: end">{{
            member?.job_position?.job_position_name
          }}</span>
        </td>
        <td>
          <span class="p-column-title">{{
            "employeeManagement.unit" | translate
          }}</span
          ><span style="text-align: end">{{
            member?.organization?.organization_unit_name
          }}</span>
        </td>
        <td>
          <span class="p-column-title">{{ "common.action" | translate }}</span>
          <div class="action">
            <button
              pButton
              icon="bi bi-pen"
              class="p-button-raised p-button-sm p-button-primary"
            ></button>
            <button
              pButton
              icon="bi bi-file-text"
              class="p-button-raised p-button-sm p-button-warning"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <app-load-small *ngIf="loadDisplay"></app-load-small>
    </ng-template>
  </p-table>
  <!-- <div
    style="
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid #dee2e6;
    "
    *ngIf="total === 0 ? true : false"
  >
    <p>No Member</p>
  </div> -->
  <div class="no_data" *ngIf="!loadDisplay && total === 0">
    {{ "common.noData" | translate }}
  </div>
  <p-paginator
    *ngIf="!loadDisplay && total > 0"
    (onPageChange)="onPageChange($event)"
    [first]="0"
    [rows]="limit"
    [totalRecords]="total"
    [showFirstLastIcon]="false"
  ></p-paginator>
</div>
