<div class="member_table">
    <p-table [value]="memberList" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'employeeManagement.employeeCode' | translate}}</th>
                <th>{{'employeeManagement.fullName' | translate}}</th>
                <th>{{'employeeManagement.sex' | translate}}</th>
                <th>{{'employeeManagement.position' | translate}}</th>
                <th>{{'employeeManagement.unit' | translate}}</th>
                <th>{{'common.action' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
            <tr>
                <td>{{member.code}}</td>
                <td>{{member.name}}</td>
                <td>{{member.sex}}</td>
                <td>{{member.position}}</td>
                <td>{{member.unit}}</td>
                <td>
                    <div class="action">
                        <button pButton icon="bi bi-pen" class="p-button-rounded p-button-sm p-button-primary"></button>
                        <button pButton icon="bi bi-file-text" class="p-button-rounded p-button-sm p-button-success"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="5" [totalRecords]="10" [showFirstLastIcon]="false"></p-paginator>
</div>
