::ng-deep .p-dialog-mask {
    background-color: rgba($color: #000000, $alpha: 0.4);
    .p-dialog .p-dialog-header {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    table {
        tbody {
            tr td {
                .action button {
                    margin: 0 10px;
                }
            }
        }
    }
}

th, td {
    text-align: center !important;
}