<div class="create_provider">
  <div class="create_info">
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" action="">
      <div class="form_item">
        <label for="name">
          <span>{{ "provider.supplierName" | translate }}</span>
          <span style="color: red">*</span>
        </label>
        <input formControlName="name" type="text" id="name" pInputText />
        <p
          *ngIf="getControl('name')?.dirty && getControl('name')?.errors"
          class="warning"
        >
          <i class="bi bi-cone-striped"></i>
          {{ 'provider.supplierName' | translate }} {{warning.name?.type | typeError | translate:warning.name}}
        </p>
      </div>
      <div class="form_item">
        <label for="item">
          <span>{{ "provider.items" | translate }}</span>
          <span style="color: red">*</span>
        </label>
        <input formControlName="item" type="text" id="item" pInputText />
        <p
          *ngIf="getControl('item')?.dirty && getControl('item')?.errors"
          class="warning"
        >
          <i class="bi bi-cone-striped"></i>
          {{ 'provider.contact' | translate }} {{warning.contact?.type | typeError | translate:warning.contact}}
        </p>
      </div>
      <div class="form_item">
        <label for="address">
          <span>{{ "common.address" | translate }}</span>
        </label>
        <input formControlName="address" type="text" id="address" pInputText />
      </div>
      <div class="form_item">
        <label for="contact">
          <span>{{ "provider.contact" | translate }}</span>
          <span style="color: red">*</span>
        </label>
        <input type="text" formControlName="contact" id="contact" pInputText />
        <p
          *ngIf="getControl('contact')?.dirty && getControl('contact')?.errors"
          class="warning"
        >
          <i class="bi bi-cone-striped"></i>
          {{ 'provider.supplierName' | translate }} {{warning.name?.type | typeError | translate:warning.name}}
        </p>
      </div>
      <div class="form_item">
        <label for="priority">
          <span>{{ "createProvider.prioritize" | translate }}</span>
        </label>
        <input
          type="text"
          formControlName="priority"
          id="priority"
          pInputText
        />
      </div>
      <div class="form_item">
        <label for="note">
          <span>{{ "createProvider.note" | translate }}</span>
        </label>
        <input type="text" formControlName="note" id="note" pInputText />
      </div>
      <div class="form_item">
        <label for="conclude">
          <span>{{ "createProvider.conclude" | translate }}</span>
        </label>
        <p-dropdown
          [options]="sex"
          formControlName="conclude"
          [placeholder]="'common.select' | translate"
          optionLabel="value"
        ></p-dropdown>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          pButton
          class="p-button-outlined p-button-sm"
          [label]="'common.save' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
