.create_provider {
  .create_info {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px; 
  }
}

form {
  .form_item {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    label {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      span {
        font-size: 16px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        margin-right: 10px;
      }
      button {
        pointer-events: none;
      }
    }
    .avt {
      width: 200px;
      height: 200px;
      border: 2px dashed black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .option_account {
      span {
        margin-right: 20px;
      }
    }
  }
}

::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-calendar {
  width: 100%;
  max-width: unset;
}