<div class="create_provider">
  <div class="create_info">
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()" action="">
      <div class="form_item">
        <label for="name">
          <span>Tên NCC</span>
          <span style="color: red;">*</span>
        </label>
        <input
          formControlName="name"
          type="text"
          id="name"
          pInputText
          placeholder="Enter response here"
        />
        <p *ngIf="getControl('name')?.dirty && getControl('name')?.errors" class="warning"><i class="bi bi-cone-striped"></i>{{warning.name}}</p>
      </div>
      <div class="form_item">
        <label for="item">
          <span>Mặt hàng</span>
          <span style="color: red;">*</span>
        </label>
        <input
          formControlName="item"
          type="text"
          id="item"
          pInputText
          placeholder="Enter response here"
        />
        <p *ngIf="getControl('item')?.dirty && getControl('item')?.errors" class="warning"><i class="bi bi-cone-striped"></i>{{warning.item}}</p>
      </div>
      <div class="form_item">
        <label for="address">
          <span>Địa chỉ</span>
        </label>
        <input
          formControlName="address"
          type="text"
          id="address"
          pInputText
          placeholder="Enter response here"
        />
      </div>
      <div class="form_item">
        <label for="contact">
          <span>Liên hệ</span>
          <span style="color: red;">*</span>
        </label>
        <input
          type="text"
          formControlName="contact"
          id="contact"
          pInputText
          placeholder="Enter response here"
        />
        <p *ngIf="getControl('contact')?.dirty && getControl('contact')?.errors" class="warning"><i class="bi bi-cone-striped"></i>{{warning.contact}}</p>
      </div>
      <div class="form_item">
        <label for="priority">
          <span>Ưu tiên</span>
        </label>
        <input
          type="text"
          formControlName="priority"
          id="priority"
          pInputText
          placeholder="Enter response here"
        />
      </div>
      <div class="form_item">
        <label for="note">
          <span>Ghi chú</span>
        </label>
        <input
          type="text"
          formControlName="note"
          id="note"
          pInputText
          placeholder="Enter response here"
        />
      </div>
      <div class="form_item">
        <label for="conclude">
          <span>Kết luận</span>
        </label>
        <p-dropdown
          [options]="sex"
          formControlName="conclude"
          placeholder="Chọn"
          optionLabel="value"
        ></p-dropdown>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          pButton
          class="p-button-outlined p-button-sm"
          label="Lưu"
        ></button>
      </div>
    </form>
  </div>
</div>
