.upload {
    h2.title {
        margin-bottom: 30px;
    }
    .upload_form {
        margin: 0 auto;
        border-radius: 10px;
        height: 300px;
        width: 500px;
        border: 2px dashed var(--primary-color-main);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .icon {
            margin-bottom: 20px;
            padding: 10px 10px 8px;
            border-radius: 50%;
            background-color: rgba($color:  #2255a4, $alpha: 0.2);
            i {
                font-size: 35px;
            }
        }
        &>p {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
            font-weight: 700;
            &:last-child {
                font-size: 12px;
                font-weight: 400;
                color: #969c9e;
                margin-top: 10px;
            }
        }
        button {
            margin-top: 10px;
            background-color: var(--primary-color-main);
            color: #fff;
        }
    }
}