<div class="upload">
  <p-toast></p-toast>
  <h2 class="title">{{'title.employeeUpload' | translate}}</h2>
  <div
    #drop
    class="upload_form"
    (dragover)="handleOnDragEnter($event)"
    (dragleave)="handleOnDragEnd()"
    (drop)="handleOnDrop($event)"
  >
    <input #upload (change)="handleOnDrop($event)" style="display: none" type="file" />
    <div class="icon">
      <i class="bi bi-cloud-upload"></i>
    </div>
    <p class="desc">{{'upload.dragDesc' | translate}}</p>
    <p>or</p>
    <button (click)="upload.click()" pButton [label]="'upload.selectFile' | translate" class="p-button-outlined"></button>
    <p>*Supported formats: XLSX</p>
  </div>
</div>
