/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poller+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --height-header: 70px;
  --text-nav-color: rgba(255, 255, 255, 0.9); 
  --body-color: #dde7eb;
  --sidebar-color: #fff;
  --active-sidebar: #374454;
  // --primary-color-main: #2255a4;
  --primary-color-main: #348F6C;
  --primary-color: #348F6C !important;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small_container {
  width: 1046px;
  margin: 0 auto;
}

input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

h2.title {
  text-align: center;
  display: block;
  color: var(--primary-color-main);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
}

h3.title {
  color: var(--primary-color-main);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0;
}


html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.no_data {
  background-color: #fff;
  text-align: center;
  height: 300px;
  line-height: 300px;
  color: #343a40;
}

.search_m {
  display: none;
  input {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.actor_modal {
  color: var(--primary-color-main);
  text-decoration: underline;
  font-weight: bold;
}

.button {
  position: relative;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}


.button__text {
  font: bold 20px "Quicksand", san-serif;
  color: #fff;
  transition: all 0.2s;
  width: 100%;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
