/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poller+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --height-header: 70px;
  --text-nav-color: rgba(255, 255, 255, 0.9);
  --body-color: #dde7eb;
  --sidebar-color: #fff;
  --active-sidebar: #374454;
  // --primary-color-main: #2255a4;
  --primary-color-main: #348f6c;
  --primary-color: #348f6c !important;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.7s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.small_container {
  width: 1046px;
  margin: 0 auto;
}

input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

h2.title {
  text-align: center;
  display: block;
  color: var(--primary-color-main);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.8rem;
}

h3.title {
  color: var(--primary-color-main);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.2rem;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.no_data {
  background-color: #fff;
  text-align: center;
  height: 300px;
  line-height: 300px;
  color: #343a40;
  border-radius: 0 0 6px 6px;
}

.search_m {
  display: none;
  input {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.actor_modal {
  color: var(--primary-color-main);
  text-decoration: underline;
  font-weight: bold;
}

.search_m {
  display: none;
  input {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.actor_modal {
  color: var(--primary-color-main);
  text-decoration: underline;
  font-weight: bold;
}

.button {
  position: relative;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
}

.button__text {
  font: bold 20px "Quicksand", san-serif;
  color: #fff;
  transition: all 0.2s;
  width: 100%;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 1200px) {
  .form_search {
    form {
      .form_list {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .form_search {
    form .form_list {
      grid-template-columns: repeat(1, 1fr) !important;
      .form_item {
        p {
          width: 60%;
          justify-content: flex-end;
        }
      }
    }
  }
}

.caption_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.page {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-color-main);
  box-shadow: 0 0 4px 1px #837e7e;
}

.header span {
  margin-top: -4px;
  padding: 0 !important;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}

@media (max-width: 1300px) {
  .sidebar {
    &.close ~ .home {
      .team .team_list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px !important;
      }
    }
  }

  .sidebar ~ .home {
    .team .team_list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px !important;
    }
  }
}

@media (min-width: 850px) and (max-width: 1150px) {
  .sidebar {
    & ~ .home {
      .create_employee {
        flex-direction: column;
      }
      .working_process_wrap {
        margin-bottom: 20px;
      }
      .sub_form,
      .basic_info {
        flex-direction: column;
        grid-gap: 20px;
        .current_employee {
          align-self: unset !important;
        }
      }
      .create_device {
        padding: 20px 10px;
      }
    }
    &.close ~ .home {
      .create_employee {
        flex-direction: row;
      }
      .sub_form,
      .basic_info {
        flex-direction: row;
        grid-gap: 0;
        .current_employee {
          align-self: flex-start !important;
        }
      }
    }
  }
}

@media (max-width: 849px) {
  .sidebar {
    & ~ .home {
      .sub_form,
      .basic_info {
        flex-direction: column;
        grid-gap: 20px;
        .current_employee {
          align-self: unset !important;
        }
      }
      .create_device {
        padding: 20px 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .sidebar {
    &.close ~ .home {
      .team .team_list {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 15px !important;
      }
    }
  }

  .sidebar ~ .home {
    .team .team_list {
      grid-template-columns: repeat(1, 1fr) !important;
      grid-gap: 15px !important;
    }
  }
}

@media (max-width: 849px) {
  .sidebar {
    & ~ .home {
      .create_employee {
        flex-direction: column;
      }
      .working_process_wrap {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    span {
      margin-top: unset;
      width: 25px;
      height: 25px;
      top: -35px !important;
      left: 50% !important;
      transform: translateX(-50%);
      border-radius: 50% !important;
      i {
        font-size: 1.8rem !important;
        margin-top: 0 !important;
      }
    }
    h2 {
      margin-top: 45px;
    }
  }
}

@media (max-width: 340px) {
  .caption_table {
    flex-direction: column;
    align-items: center;
    div {
      text-align: center;
    }
  }
  .sidebar ~ .home {
    .team {
      .wrap_team_list {
        padding: 10px !important;
        margin-top: 10px !important;
      }
      .team_list {
        grid-gap: 10px !important;
      }
    }
  }
}
