/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-color: #09f;

:root {
  --primary-color: #09f;
  --height-header: 55px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small_container {
  width: 1046px;
  margin: 0 auto;
}

input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

h2.title {
  text-align: center;
  margin-top: 20px;
  display: block;
  color: var(--primary-color);
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

ul {
  list-style: none;
}

// button {
//     background-color: white;
//     border: none;
//     outline: none;
// }

p {
  margin-bottom: 0;
}

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
