<div class="workplace">
  <h2 class="title">{{ "title.JobPositionManagement" | translate }}</h2>
  <div style="text-align: end">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      [label]="'common.addNew' | translate"
      class="p-button-danger p-button-raised p-button-sm"
      iconPos="left"
      (click)="handleShowOverlayCreateWorkplace()"
    ></button>
  </div>
  <div class="table">
    <p-table
      selectionMode="single"
      [value]="positionList"
      responsiveLayout="stack"
      [breakpoint]="'960px'"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">
            {{ "workplace.code" | translate }}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="name">
            {{ "workplace.locationName" | translate }}
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="unit">
            {{ "workplace.belongingToTheUnit" | translate }}
            <p-sortIcon field="unit"></p-sortIcon>
          </th>
          <th pSortableColumn="type">
            {{ "workplace.positionType" | translate }}
            <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th style="text-align: end">
            <input
              style="width: 100%"
              [formControl]="searchInput"
              type="text"
              pInputText
              [placeholder]="'workplace.searchByCode' | translate"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-position let-columns="columns">
        <tr *ngIf="!loadDisplay" [pSelectableRow]="position">
          <td>
            <span class="p-column-title">{{
              "workplace.code" | translate
            }}</span
            >{{ position.job_position_code }}
          </td>
          <td>
            <span class="p-column-title">{{
              "workplace.locationName" | translate
            }}</span
            >{{ position.job_position_name }}
          </td>
          <td>
            <span class="p-column-title">{{
              "workplace.belongingToTheUnit" | translate
            }}</span
            >{{ position.organization?.organization_unit_name }}
          </td>
          <td>
            <span class="p-column-title">{{
              "workplace.positionType" | translate
            }}</span
            >{{ position.job_position_category }}
          </td>
          <td style="text-align: end">
            <button
              (click)="
                handleShowOverlayMember(
                  position.job_position_id,
                  position.job_position_name
                )
              "
              style="margin-right: 10px"
              pButton
              class="p-button-outlined p-button-raised p-button-sm"
              type="button"
              icon="bi bi-people-fill"
              iconPos="left"
            ></button>
            <button
              (click)="handleShowOverlayUpdate(position)"
              pButton
              class="p-button-outlined p-button-raised p-button-sm p-button-success"
              type="button"
              icon="bi bi-pencil-square"
              iconPos="left"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <app-load-small *ngIf="loadDisplay"></app-load-small>
      </ng-template>
    </p-table>
    <div class="no_data" *ngIf="!loadDisplay && total === 0">
      {{ "common.noData" | translate }}
    </div>
    <p-paginator
      #paginator
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="limit"
      [totalRecords]="total"
      [showFirstLastIcon]="false"
    ></p-paginator>
  </div>
</div>

<p-dialog [header]="'title.create' | translate" [(visible)]="displayCreate">
  <ng-template pTemplate="content">
    <app-create-workplace
      [infoUpdate]="infoUpdate"
      [typeAction]="typeAction"
      (showMessage)="showMessage($event)"
    ></app-create-workplace>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayMember">
  <ng-template pTemplate="header">{{ positionTemp }}</ng-template>
  <ng-template pTemplate="content">
    <app-member-table [props]="props"></app-member-table>
  </ng-template>
</p-dialog>
