.workplace {
  h2 {
    margin-bottom: 30px;
  }

  .table {
    margin-top: 20px;
    box-shadow: 0 0 8px 2px #ccc;
    border-radius: 6px;
    ::ng-deep .wrap_loader {
      width: 100%;
    }

    ::ng-deep .p-datatable-header {
      border-radius: 6px 6px 0 0;
    }
  }
}

::ng-deep .p-dialog-mask {
  background-color: rgba($color: #000000, $alpha: 0.4);
  .p-dialog {
    min-width: 60%;
    height: auto;
    max-height: 90%;
    .p-dialog-header {
      border-radius: 6px 6px 0 0;
      padding: 1.5rem;
      color: var(--primary-color);
      font-weight: bold;
      background-color: #fff;
      .p-dialog-title {
        font-size: 2.2rem !important;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    }
    .p-dialog-content {
      background-color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

@media (max-width: 1024px) {
  .search_m {
    display: block;
    margin-top: 10px;
  }
}