<h2 class="title">{{'title.unitManagement' | translate}}</h2>
<div class="table">
  <p-treeTable
    selectionMode="single"
    [scrollable]="true"
    scrollHeight="500px"
    [value]="units"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 500px">{{'unitManagement.organizationalUnitName' | translate}}</th>
        <th>{{'unitManagement.organizationalUnitCode' | translate}}</th>
        <th>{{'common.address' | translate}}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td style="width: 500px">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{ rowData.organization_unit_name }}
        </td>
        <td>{{ rowData.organization_unit_code }}</td>
        <td>{{ rowData.address }}</td>
        <td style="text-align: end">
          <button
            (click)="handleShowMember(rowData.organization_unit_id)"
            pButton
            class="p-button-outlined p-button-sm"
            type="button"
            icon="bi bi-people-fill"
            iconPos="left"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>

<p-dialog [(visible)]="display">
  <ng-template pTemplate="header">{{ unitTemp }}</ng-template
  >
  <ng-template pTemplate="content">
    <app-member-table [memberList]="memberList"></app-member-table>
  </ng-template>
</p-dialog>
